* {
  font-family: "Libre Baskerville", serif;
}
.App {
  text-align: center;
}
body {
  color: #ffffc7;
}
img {
  width: 20%;
}
form {
  background-color: #ffffc7;
  background-image: repeating-linear-gradient(white, #ffffc7);
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  padding: 5px;
}
span.neck {
  color: #0088fe;
}
span.back {
  color: #FFBB28;
}
span.shoulder {
  color: #00C49F;
}
span.knee {
  color: #FF8042;
}
span.empty{
  color:#8884d8;
}
i {
  font-size: 64px;
  padding-bottom: 50px;
}

h2.card-title {
  color: #152756;
  font-size: 50px;
  text-shadow: -1px 1px 2px white, 1px 1px 2px white, 1px -1px 0 white,
    -1px -1px 0 white;
   
}
p.pSmallPrint {
  color: red;
  font-size: 16px;
  text-shadow: -1px 1px 2px black;
}
p.card-text {
  font-size: 20px;
  text-shadow: -1px 1px 2px white;
}
.color-nav {
  background-color: #152756;
  background-image: repeating-linear-gradient(#233e8b, #152756);
}
.navLink {
  color: #ffffc7;
}
.navTitle {
  margin-top: auto;
  margin-bottom: auto;
  color: #ffffc7;
}
.App-header {
  background-color: #ffffc7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: black;
}
.App-headerColor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: black;
  background-color: "";
}

.checky {
  font-size: calc(6px + 1.2vmin);
}
.signErrors {
  font-size: calc(2px + 2vmin);
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
  margin-bottom: 0;
}

.BodyTitle {
  color: #233e8b;
}
.grow {
  transition: all 0.1s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.novice {
  background: yellow;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.bigBox {
  background-color: #282c34;
  min-height: 25vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: black;
}
.tameBox {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}
#features {
  padding: 7% 15%;
  position: relative;
  background-color: #1eae98;
  color: white;
}
/* @media only screen and (min-width: 768px) {
  .card {
    width: 50%;
    height: auto;
  }
} */
video {
  opacity: 0.5;
}
#video-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 1;

  /* background-size: cover; */
  width: auto;
  /* height: 100%;    */
}
.astext {
  color: grey;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
}
.asTextBold {
  color: #1d04ff;
  cursor: pointer;
  font-size: 1rem;
}
.titleCard {
  text-align: center;
  padding-bottom: 20px;
}
.loginButton {
  width: 100%;
}
.logo {
  color: white;
}
.shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
#root > div > div > div > div > button {
  width: 100%;
  border-radius: 25px;
}
.splashCard {
  width: 50%;
  text-shadow: -1px 1px 1px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;

  color: #ffffc7;
  border-radius: 25px;
  border: 2px transparent;
  background-color: #233f8b9e;
  background-image: repeating-linear-gradient(#15275627, #233f8b29);
}
.navbar.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.switchButton {
  width: 50%;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.routineForm {
  background-color: #233f8b;
  background-image: none;
  border-radius: 25px;
  color: #ffffc7;
  text-shadow: -1px 1px 1px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  box-shadow: 0 10px 6px -6px #777;
}
.routineButtonHidden {
  visibility: hidden;
}
.routineButton.routineButton {
  width: 100%;
  height: 160px;
  font-size: 1.5rem;
  border-radius: 25px;
  background: #1eae98;
  box-shadow: 0 10px 6px -6px #777;
  color: black;
  text-shadow: -1px 1px 2px white, 1px 1px 2px white, 1px -1px 0 white,
    -1px -1px 0 white;
}
.btn-success.btn-success:hover {
  color: #ffffc7;
  background-color: #0df0ce;
}
.routineButton1.routineButton1 {
  width: 100%;
  height: 160px;
  /* height: 15vh; */
  font-size: 1.5rem;
  border-radius: 25px;
  background: #a9f1df;
  box-shadow: 0 10px 6px -6px #777;
  color: black;
  text-shadow: -1px 1px 2px white, 1px 1px 2px white, 1px -1px 0 white,
    -1px -1px 0 white;
}
.btn-warning.btn-warning:hover {
  color: #ffffc7;
  background-color: #0df0ce;
}
.routineCardHeader.routineCardHeader {
  background: #233f8b;
  color: #ffffc7;
  text-shadow: -1px 1px 1px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  font-size:30px;
}
.exerciseTitle {
  font-size: 64px;
  color: #233f8b;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: -1px 1px 2px white, 1px 1px 2px white, 1px -1px 0 white,
    -1px -1px 0 white;
  background-color: #ffffc7;
}

.exerciseContainer {
  background-color: #ffffc7;
  background: #ffffc7;
  margin: 0;
}

.card-body.card-body {
  background-color: #1eae98;
  color: black;
  border-style: outset;
  /* height: 500px; */
  /* color: white; */
  /* font-size: 40px; */
}
label.form-label {
  font-size: 16px;
  text-shadow: -1px 1px 2px white;
}
.resultsButton {
  height: 100px;
  width: 20%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
label.form-label.formLabelPain {
  font-size: 24px;
  text-shadow: -1px 1px 2px black;
}
.goodResult {
  color: green;
  padding-bottom: 0;
}
.badResult {
  color: red;
}
.fa-thumbs-up {
  font-size: 24px;
  padding-right: 15px;
}
#alternateGradient {
  background-color: #ffffc7;
  background-image: repeating-linear-gradient(#1eae98, #ffffc7);
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  padding: 5px;
}
div.m-2. {
  margin-top: 0;
}
#cardSizing{
  margin-bottom:50px;
  height:200px;
}
